/* CSS Document */
html
{
    height: 100%;
    background-color: #000;
}
body
{
    background-position: 0 0;
    padding: 0px;
    margin: 0px;
    background: #000;
    color: #fff;
    /*color: #707070;*/
    font: 13px Arial, Helvetica, sans-serif;
    background-image: url('../../images/mainbg.gif');
    height: 100%;
    min-height: 100%;
    background-repeat: repeat-x;
}
div, p, ul, h2, h3, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

#separator{width:1px; color:#fff;}

/*----TOP PANEL----*/
#topPan{width:1050px; height:155px; position:relative; margin:0 auto; padding:0px; background-image: url('../../images/online_assessment_system.png'); background-repeat: no-repeat; background-position: center;}
#topPan img{width:222px; height:134px; position:absolute; top:0px; left:80px;}

#topPan ul.roundheader{width:480px; height:32px; position:absolute; top:76px; right:0px;}
#topPan ul.roundheader li{float:left; width:79px; height:32px; padding:0 0 0 1px;}
#topPan ul.roundheader li a{display:block; width:79px; height:32px; background:#3F5330 url('../../../images/menubg-normal.gif') no-repeat 0 0; 
color:#656565; font-size:11px; font-weight:bold; line-height:32px; text-transform:uppercase; text-align:center; text-decoration:none;
}
#topPan ul.roundheader li a:hover{background:#3F5330 url('../../../images/menubg-hover.gif') no-repeat 0 0; 
color:#3F5330; text-decoration:none;
}
#topPan ul.roundheader li.home{display:block; width:79px; height:32px; background:#3F5330 url('../../../images/menubg-hover.gif') no-repeat 0 0; 
font-size:11px; font-weight:bold; line-height:32px; color:#3F5330; text-decoration:none; text-transform:uppercase; text-align:center;
}


#topPan ul.dropdown{width:480px; height:22px; position:absolute; top:119px; right:0px;}
#topPan ul.dropdown li{float:left; width:79px; height:22px; }
#topPan ul.dropdown li a{display:block; width:79px;background:#fff no-repeat 100% 0; 
color:#3E3E3E; font-size:11px; text-decoration:none; text-align:center; line-height:22px;
} 
#topPan ul.dropdown li a:hover{text-decoration:none; background:#fff no-repeat 100% 0; 
color:#3F5330;
}


#topPan ul.dropdown 
#topPan ul.dropdown li.verticallinenone a{display:block; width:79px;background:#fff; color:#3E3E3E; font-size:11px; text-decoration:none; text-align:center; line-height:22px;} 
#topPan ul.dropdown li.verticallinenone a:hover{text-decoration:none; background:#fff; color:#3F5330;}

/*----/TOP PANEL----*/

/*----LOGIN BODY TOP PANEL----*/
#loginbodytopmainPan{width:100%; height: 75%; background:#eeffd2; color:#8D8D8D; float:left; padding:0px 0 0; clear:both;}

#loginbodytopPan{width:900px; height: 670px; position:relative; background:#fff; color:#707070; margin:0 auto; padding:10px;
    top: 0px; left: 0px; border-left: solid 3px #2b401b; border-right: solid 3px #2b401b;}
/*---- Login Panel ----*/

/*----BODY TOP PANEL----*/
#bodytopmainPan{width:100%; height: 75%; background:#eeffd2; color:#8D8D8D; float:left; clear:both;}

#bodytopPan{width:900px; height: 100%; position:relative; background:#fff; color:#707070; margin:0 auto; padding:10px;
    top: 0px; left: 0px; border-left: solid 3px #2b401b; border-right: solid 3px #2b401b;}
    
#bodytopPan h2{background:#F4F4F4; color:#6E6C00; font-size:24px; height:70px; line-height:70px;}
#bodytopPan p{padding:0 38px 11px 0;}
#bodytopPan p span{font-weight:bold;}
#bodytopPan p.more{margin:0 0 15px 618px; padding:0px;}
#bodytopPan p.more a{display:block;width:79px; height:28px; background:#fff url('../../../images/button1.gif') no-repeat 0 0; 
color:#111; font-size:15px; line-height:28px; text-decoration:none; padding:0 0 0 10px;
}
#bodytopPan p.more a:hover{background:#fff url('../../../images/button2.gif') no-repeat 100% 0%; 
color:#111; text-decoration:none;
}
/*----/BODY TOP PANEL----*/

/*----BODY MIDDLE PANEL/
#bodymainmiddlePan{width:100%; background:#FFF; color:#8D8D8D; float:left; padding:42px 0 0; clear:both;}

#bodymiddlePan{width:747px; position:relative; margin:0 auto 0 auto; background:#fff; color:#8D8D8D;}
/*---Middle One/
#middleonePan{width:187px; float:left;}
#middleonePan p{padding:0 0 20px 0;}
#middleonePan p.boldtext{font-size:16px; background:#fff; color:#2B2A2A; font-weight:bold; padding:32px 0 0;}
#middleonePan p.blacktext{background:#fff; color:#000; padding:0 0 12px 0;}
#middleonePan p.dotline{background:url('../../../images/dot.line.gif') repeat-x 0 0; 
width:156px; padding:0 0 12px 0;
}

#middleonePan p.more{margin:0 0 40px 0px; padding:0px;}
#middleonePan p.more a{display:block;width:79px; height:28px; background:#fff url('../../../images/redbutton.gif') no-repeat 0 0; 
color:#111; font-size:15px; line-height:28px; text-decoration:none; padding:0 0 0 10px;
}
#middleonePan p.more a:hover{background: #fff url('../../../images/bluebutton.gif') no-repeat 0 0; 
color:#111; text-decoration:none;
}

#middleonePan ul{width:156px; padding:0 0 20px 0;}
#middleonePan ul li{width:156px; height:20px;}
#middleonePan ul li a{width:140px; height:20px; background:#fff url('../../../images/arrow1.gif') no-repeat 0 8px; 
color:#8D8D8D; line-height:20px; text-decoration:underline; padding:0 0 0 16px;
}
#middleonePan ul li a:hover{background:#fff url('../../../images/arrow2.gif') no-repeat 0 8px; 
color:#272525; text-decoration:underline;
}


#middleonePan ul.block{width:156px; height:151px; display:block; padding:0px;}
#middleonePan ul.block li{width:156px; height:151px;}
#middleonePan ul.block li a{width:126px; height:128px; display:block; background:#FCFCFC url('../../../images/block1-normal.jpg') no-repeat 0 0; 
color:#fff; font-size:20px; font-weight:bold; text-decoration:none; padding:23px 0 0 30px;
}
#middleonePan ul.block li a:hover{background:#FCFCFC url('../../../images/block1-hover.jpg') no-repeat 0 0; 
color:#fff; text-decoration:none;
}
/*---/Middle One

/*---Middle Two
#middletwoPan{width:186px; float:left;}
#middletwoPan p{padding:0 0 20px 0;}
#middletwoPan p.boldtext{font-size:16px; background:#fff; color:#2B2A2A; font-weight:bold; padding:32px 0 0;}
#middletwoPan p.blacktext{background:#fff; color:#000; padding:0 0 12px 0;}
#middletwoPan p.dotline{background:url('../../../images/dot.line.gif') repeat-x 0 0; 
width:156px; padding:0 0 12px 0;
}

#middletwoPan p.more{margin:0 0 40px 0px; padding:0px;}
#middletwoPan p.more a{display:block;width:79px; height:28px; background:#fff url('../../../images/greenbutton.gif') no-repeat 0 0; 
color:#111; font-size:15px; line-height:28px; text-decoration:none; padding:0 0 0 10px;
}
#middletwoPan p.more a:hover{background: #fff url('../../../images/pinkbutton.gif') no-repeat 0 0; 
color:#111; text-decoration:none;
}

#middletwoPan ul{width:156px; padding:0 0 20px 0;}
#middletwoPan ul li{width:156px; height:20px;}
#middletwoPan ul li a{width:140px; height:20px; background:#fff url('../../../images/arrow1.gif') no-repeat 0 8px; 
color:#8D8D8D; line-height:20px; text-decoration:underline; padding:0 0 0 16px;
}
#middletwoPan ul li a:hover{background:#fff url('../../../images/arrow2.gif') no-repeat 0 8px; 
color:#272525; text-decoration:underline;
}

#middletwoPan ul.block{width:156px; height:151px; padding:0px;}
#middletwoPan ul.block li{width:156px; height:151px;}
#middletwoPan ul.block li a{width:126px; height:128px; display:block; background:#FCFCFC url('../../../images/block2-normal.jpg') no-repeat 0 0; 
color:#fff; font-size:20px; font-weight:bold; text-decoration:none; padding:23px 0 0 30px;
}
#middletwoPan ul.block li a:hover{background:#FCFCFC url('../../../images/block2-hover.jpg') no-repeat 0 0; 
color:#fff; text-decoration:none;
}

/*---/Middle Two

/*---Middle Three
#middlethreePan{width:187px; float:left;}
#middlethreePan p{padding:0 0 20px 0;}
#middlethreePan p.boldtext{font-size:16px; background:#fff; color:#2B2A2A; font-weight:bold; padding:32px 0 0;}
#middlethreePan p.blacktext{background:#fff; color:#000; padding:0 0 12px 0;}
#middlethreePan p.dotline{background:url('../../../images/dot.line.gif') repeat-x 0 0; 
width:156px; padding:0 0 12px 0;
}

#middlethreePan p.more{margin:0 0 40px 0px; padding:0px;}
#middlethreePan p.more a{display:block;width:79px; height:28px; background:#fff url('../../../images/bluebutton.gif') no-repeat 0 0; 
color:#111; font-size:15px; line-height:28px; text-decoration:none; padding:0 0 0 10px;
}
#middlethreePan p.more a:hover{background: #fff url('../../../images/redbutton.gif') no-repeat 0 0; 
color:#111; text-decoration:none;
}

#middlethreePan ul{width:156px; padding:0 0 20px 0;}
#middlethreePan ul li{width:156px; height:20px;}
#middlethreePan ul li a{width:140px; height:20px; background:#fff url('../../../images/arrow1.gif') no-repeat 0 8px; 
color:#8D8D8D; line-height:20px; text-decoration:underline; padding:0 0 0 16px;
}
#middlethreePan ul li a:hover{background:#fff url('../../../images/arrow2.gif') no-repeat 0 8px; 
color:#272525; text-decoration:underline;
}

#middlethreePan ul.block{width:156px; height:151px; padding:0px;}
#middlethreePan ul.block li{width:156px; height:151px;}
#middlethreePan ul.block li a{width:126px; height:128px; display:block; background:#FCFCFC url('../../../images/block3-normal.jpg') no-repeat 0 0; 
color:#fff; font-size:20px; font-weight:bold; text-decoration:none; padding:23px 0 0 30px;
}
#middlethreePan ul.block li a:hover{background:#FCFCFC url('../../../images/block3-hover.jpg') no-repeat 0 0; 
color:#fff; text-decoration:none;
}

/*---/Middle Threee

/*---Middle Four
#middlefourPan{width:187px; float:left;}
#middlefourPan p{padding:0 0 20px 0;}
#middlefourPan p.boldtext{font-size:16px; background:#fff; color:#2B2A2A; font-weight:bold; padding:32px 0 0;}
#middlefourPan p.blacktext{background:#fff; color:#000; padding:0 0 12px 0;}
#middlefourPan p.dotline{background:url('../../../images/dot.line.gif') repeat-x 0 0; 
width:156px; padding:0 0 12px 0;
}

#middlefourPan p.more{margin:0 0 40px 0px; padding:0px;}
#middlefourPan p.more a{display:block;width:79px; height:28px; background:#fff url('../../../images/pinkbutton.gif') no-repeat 0 0; 
color:#111; font-size:15px; line-height:28px; text-decoration:none; padding:0 0 0 10px;
}
#middlefourPan p.more a:hover{background: #fff url('../../../images/greenbutton.gif') no-repeat 0 0; 
color:#111; text-decoration:none;
}

#middlefourPan ul{width:156px; padding:0 0 20px 0;}
#middlefourPan ul li{width:156px; height:20px;}
#middlefourPan ul li a{width:140px; height:20px; background:#fff url('../../../images/arrow1.gif') no-repeat 0 8px; 
color:#8D8D8D; line-height:20px; text-decoration:underline; padding:0 0 0 16px;
}
#middlefourPan ul li a:hover{background:#fff url('../../../images/arrow2.gif') no-repeat 0 8px; 
color:#272525; text-decoration:underline;
}

#middlefourPan ul.block{width:156px; height:151px; padding:0px;}
#middlefourPan ul.block li{width:156px; height:151px;}
#middlefourPan ul.block li a{width:126px; height:128px; display:block; background:#FCFCFC url('../../../images/block4-normal.jpg') no-repeat 0 0; 
color:#fff; font-size:20px; font-weight:bold; text-decoration:none; padding:23px 0 0 30px; text-transform:uppercase;
}
#middlefourPan ul.block li a:hover{background:#FCFCFC url('../../../images/block4-hover.jpg') no-repeat 0 0; 
color:#fff; text-decoration:none;
}

/*---/Middle Four----*/

/*----FOOTER PANEL----*/
#footermainPan{height:50px; background: #000; 
color:#fff; clear:both;
}

#footerPan{width:0px; position:relative; margin:0 auto; text-align:center;}

#footerPan p.html{background:url('../../../images/html-button.gif') no-repeat 0 0; top:0px; right:0px; width:0px; height:22px; padding:3px;}

#footerPan p.html a{width:0px; height:18px; display:block; font-weight:bold; background:#000; 
color:#565656; text-decoration:none; text-transform:uppercase; padding:2px 0 0 5px;
}
#footerPan p.html a:hover{background:#000; color:#565656; text-decoration:none;
}

#footerPan p.css{background:#000; 
position:absolute; top:42px; right:0px; width:0px; height:19px; padding:3px;
}
#footerPan p.css a{width:0px; height:18px; display:block; font-weight:bold; background:#000; 
color:#fff; text-decoration:none; text-transform:uppercase; padding:2px 0 0 5px;
}
#footerPan p.css a:hover{background:#000; 
color:#fff; text-decoration:none;
}

#footerPan{width:500px; position: relative; top:10px; text-align: center;}
#footerPan {font:13px/15px "Century Gothic"; font-weight:normal; text-align: center;}
#footerPan a{padding:0 12px 0; color:#fff; background:#000; text-decoration:none; text-align: center;}
#footerPan a:hover{text-decoration:underline; text-align: center;}



