USE [PaceAssessment]
GO
/****** Object:  Table [dbo].[QuestionPool]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuestionPool](
	[QuestionPoolID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[TopicID] [int] NULL,
	[Question] [varchar](max) NOT NULL,
	[CorrectAnswer] [varchar](max) NOT NULL,
	[CorrectAnswerRemark] [varchar](max) NOT NULL,
	[Choice1] [varchar](max) NULL,
	[Choice1Remark] [varchar](max) NULL,
	[Choice2] [varchar](max) NULL,
	[Choice2Remark] [varchar](max) NULL,
	[Choice3] [varchar](max) NULL,
	[Choice3Remark] [varchar](max) NULL,
	[Choice4] [varchar](max) NULL,
	[Choice4Remark] [varchar](max) NULL,
	[Status] [varchar](1) NOT NULL,
	[Quarter] [varchar](50) NULL,
	[UserCreated] [varchar](50) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[LastUpdateUser] [varchar](50) NOT NULL,
	[LastUpdateDate] [date] NOT NULL,
 CONSTRAINT [PK_QuestionPool] PRIMARY KEY CLUSTERED 
(
	[QuestionPoolID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionPool] ON
INSERT [dbo].[QuestionPool] ([QuestionPoolID], [SubjectID], [LevelID], [TopicID], [Question], [CorrectAnswer], [CorrectAnswerRemark], [Choice1], [Choice1Remark], [Choice2], [Choice2Remark], [Choice3], [Choice3Remark], [Choice4], [Choice4Remark], [Status], [Quarter], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (293, 13, 13, NULL, N'Do you how to solve this: 2x³+3=5?', N'No!!', N'Very Good!', N'No!!', N'Very Good!', N'Yes!', N'Without computing?', N'', N'', N'', N'', N'A', N'1st', N'teacher', CAST(0xC3340B00 AS Date), N'teacher', CAST(0xC3340B00 AS Date))
SET IDENTITY_INSERT [dbo].[QuestionPool] OFF
/****** Object:  Table [dbo].[Quarter]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quarter](
	[Quarter] [varchar](50) NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
	[SchoolYear] [varchar](50) NULL,
	[LastUpdateDate] [datetime] NULL,
	[LastUpdateUser] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Quarter] ([Quarter], [DateFrom], [DateTo], [SchoolYear], [LastUpdateDate], [LastUpdateUser]) VALUES (N'1st', CAST(0x5C340B00 AS Date), CAST(0xA6340B00 AS Date), NULL, CAST(0x00009FB000E5A3C4 AS DateTime), N'zeEk')
INSERT [dbo].[Quarter] ([Quarter], [DateFrom], [DateTo], [SchoolYear], [LastUpdateDate], [LastUpdateUser]) VALUES (N'2nd', CAST(0xA9340B00 AS Date), CAST(0x13350B00 AS Date), NULL, CAST(0x00009FB000E60FA9 AS DateTime), N'zeEk')
INSERT [dbo].[Quarter] ([Quarter], [DateFrom], [DateTo], [SchoolYear], [LastUpdateDate], [LastUpdateUser]) VALUES (N'3rd', CAST(0x12350B00 AS Date), CAST(0x40350B00 AS Date), NULL, CAST(0x00009FB000E65618 AS DateTime), N'zeEk')
/****** Object:  Table [dbo].[ParentChild]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ParentChild](
	[ChildID] [int] IDENTITY(1,1) NOT NULL,
	[ParentUserID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[YearLevel] [int] NOT NULL,
	[Section] [int] NOT NULL,
	[Status] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ParentChild] ON
INSERT [dbo].[ParentChild] ([ChildID], [ParentUserID], [StudentID], [YearLevel], [Section], [Status]) VALUES (2, 51, 13, 49, 13, N'A')
INSERT [dbo].[ParentChild] ([ChildID], [ParentUserID], [StudentID], [YearLevel], [Section], [Status]) VALUES (3, 52, 14, 49, 13, N'A')
INSERT [dbo].[ParentChild] ([ChildID], [ParentUserID], [StudentID], [YearLevel], [Section], [Status]) VALUES (22, 57, 13, 49, 13, N'A')
SET IDENTITY_INSERT [dbo].[ParentChild] OFF
/****** Object:  Table [dbo].[Parent]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[ParentUserID] [int] NOT NULL,
	[ChildFirstname] [varchar](max) NOT NULL,
	[ChildLastname] [varchar](max) NOT NULL,
	[YearLevel] [int] NOT NULL,
	[Section] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON
INSERT [dbo].[Parent] ([ParentID], [ParentUserID], [ChildFirstname], [ChildLastname], [YearLevel], [Section]) VALUES (1, 51, N'Miguel Nicolo', N'Evangelista', 13, 49)
INSERT [dbo].[Parent] ([ParentID], [ParentUserID], [ChildFirstname], [ChildLastname], [YearLevel], [Section]) VALUES (2, 52, N'Charlene Denisse', N'Yap', 13, 49)
INSERT [dbo].[Parent] ([ParentID], [ParentUserID], [ChildFirstname], [ChildLastname], [YearLevel], [Section]) VALUES (3, 53, N'Ace', N'Macabutas', 1, 3)
SET IDENTITY_INSERT [dbo].[Parent] OFF
/****** Object:  Table [dbo].[Level]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Level](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](30) NOT NULL,
	[ReservationFee_new] [decimal](18, 2) NULL,
	[ReservationFee_old] [decimal](18, 2) NULL,
	[DateCreated] [datetime] NOT NULL,
	[UserCreated] [varchar](30) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON
INSERT [dbo].[Level] ([LevelID], [Description], [ReservationFee_new], [ReservationFee_old], [DateCreated], [UserCreated], [Status], [LastUpdateDate], [LastUpdateUser]) VALUES (1, N'TODDLER', CAST(5000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(0x00009ED800000000 AS DateTime), N'admin', N'A', CAST(0x00009ED900A0710C AS DateTime), N'admin')
INSERT [dbo].[Level] ([LevelID], [Description], [ReservationFee_new], [ReservationFee_old], [DateCreated], [UserCreated], [Status], [LastUpdateDate], [LastUpdateUser]) VALUES (2, N'JN', CAST(5000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(0x00009ED800000000 AS DateTime), N'admin', N'A', CAST(0x00009ED900A07940 AS DateTime), N'admin')
INSERT [dbo].[Level] ([LevelID], [Description], [ReservationFee_new], [ReservationFee_old], [DateCreated], [UserCreated], [Status], [LastUpdateDate], [LastUpdateUser]) VALUES (3, N'SN', CAST(5000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(0x00009ED800000000 AS DateTime), N'admin', N'A', CAST(0x00009ED900A08048 AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Level] OFF
/****** Object:  Table [dbo].[Image]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionPoolID] [int] NULL,
	[FileName] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON
INSERT [dbo].[Image] ([ImageID], [QuestionPoolID], [FileName]) VALUES (1, 329, N'329.png')
INSERT [dbo].[Image] ([ImageID], [QuestionPoolID], [FileName]) VALUES (6, 333, N'')
INSERT [dbo].[Image] ([ImageID], [QuestionPoolID], [FileName]) VALUES (7, 339, N'339.jpg')
SET IDENTITY_INSERT [dbo].[Image] OFF
/****** Object:  Table [dbo].[Usergroup]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usergroup](
	[UserGroupID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[AccessRights] [varchar](max) NOT NULL,
	[Status] [varchar](50) NULL,
	[DateCreated] [date] NULL,
	[UserCreated] [varchar](50) NULL,
	[LastUpdateDate] [datetime] NULL,
	[LastUpdateUser] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usergroup] ON
INSERT [dbo].[Usergroup] ([UserGroupID], [Description], [AccessRights], [Status], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (1, N'Administrator', N'-0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-', N'A', CAST(0x1A350B00 AS Date), N'zeek', CAST(0x00009FD300EFB990 AS DateTime), N'zeEk')
INSERT [dbo].[Usergroup] ([UserGroupID], [Description], [AccessRights], [Status], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (2, N'Teacher', N'-0-7-8-9-10-13-14-15-16-', N'A', CAST(0x1A350B00 AS Date), N'zeek', CAST(0x00009FD300FC59E0 AS DateTime), N'zeEk')
SET IDENTITY_INSERT [dbo].[Usergroup] OFF
/****** Object:  Table [dbo].[User]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserGroupID] [int] NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[EmailAddress] [varchar](max) NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[UserCreated] [varchar](20) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[UpdateUser] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([UserID], [UserGroupID], [Username], [Password], [EmailAddress], [Firstname], [Lastname], [Status], [UserCreated], [DateCreated], [UpdateDate], [UpdateUser]) VALUES (1, 1, N'admin', N'1111', NULL, N'Elijah', N'Lao', N'A', N'admin', CAST(0x32340B00 AS Date), CAST(0x00009ED900C0D2E4 AS DateTime), N'eddie')
INSERT [dbo].[User] ([UserID], [UserGroupID], [Username], [Password], [EmailAddress], [Firstname], [Lastname], [Status], [UserCreated], [DateCreated], [UpdateDate], [UpdateUser]) VALUES (2, 4, N'flor', N'1234', NULL, N'Flor', N'Corpuz', N'A', N'admin', CAST(0x34340B00 AS Date), CAST(0x00009ED900BDF420 AS DateTime), N'admin')
INSERT [dbo].[User] ([UserID], [UserGroupID], [Username], [Password], [EmailAddress], [Firstname], [Lastname], [Status], [UserCreated], [DateCreated], [UpdateDate], [UpdateUser]) VALUES (3, 1, N'eddie', N'12345', NULL, N'Eddie', N'Lao', N'A', N'admin', CAST(0x34340B00 AS Date), CAST(0x00009ED900C04D4C AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Topics]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[LevelID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Status] [varchar](50) NULL,
	[DateCreated] [date] NULL,
	[UserCreated] [varchar](50) NULL,
	[LastUpdateDate] [datetime] NULL,
	[LastUpdateUser] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON
INSERT [dbo].[Topics] ([TopicID], [LevelID], [SubjectID], [Description], [Status], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (1, 13, 13, N'HS2 Math Topic', N'A', CAST(0x15350B00 AS Date), N'zeek', CAST(0x00009FBA013932DF AS DateTime), N'zeEk')
INSERT [dbo].[Topics] ([TopicID], [LevelID], [SubjectID], [Description], [Status], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (2, 6, 1, N'GR1 English Topic', N'A', CAST(0x15350B00 AS Date), N'zeek', CAST(0x00009FBA01394C3C AS DateTime), N'zeEk')
INSERT [dbo].[Topics] ([TopicID], [LevelID], [SubjectID], [Description], [Status], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (3, 9, 46, N'GR4 Filipino Topic', N'A', CAST(0x15350B00 AS Date), N'zeek', CAST(0x00009FBA013AF575 AS DateTime), N'zeEk')
SET IDENTITY_INSERT [dbo].[Topics] OFF
/****** Object:  Table [dbo].[Subject]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[LevelID] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[SubjectWeight] [decimal](5, 1) NULL,
	[DateCreated] [date] NOT NULL,
	[UserCreated] [varchar](50) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON
INSERT [dbo].[Subject] ([SubjectID], [LevelID], [Description], [SubjectWeight], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (1, 6, N'English', CAST(1.0 AS Decimal(5, 1)), CAST(0x83340B00 AS Date), N'lorraine', CAST(0x00009F2800E13390 AS DateTime), N'lorraine')
INSERT [dbo].[Subject] ([SubjectID], [LevelID], [Description], [SubjectWeight], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (2, 6, N'Mathematics', CAST(1.0 AS Decimal(5, 1)), CAST(0x83340B00 AS Date), N'lorraine', CAST(0x00009F2800EECF8C AS DateTime), N'lorraine')
INSERT [dbo].[Subject] ([SubjectID], [LevelID], [Description], [SubjectWeight], [DateCreated], [UserCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (3, 6, N'Science', CAST(1.0 AS Decimal(5, 1)), CAST(0x83340B00 AS Date), N'lorraine', CAST(0x00009F2800E083C8 AS DateTime), N'lorraine')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Subject] OFF
/****** Object:  Table [dbo].[StudentAnswers]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentAnswers](
	[StudentAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](10) NOT NULL,
	[AssessmentID] [int] NOT NULL,
	[QuestionPoolID] [int] NOT NULL,
	[SelectedAnswer] [varchar](50) NOT NULL,
	[LastUpdateUser] [varchar](50) NOT NULL,
	[LastUpdateDate] [date] NULL,
 CONSTRAINT [PK_StudentAnswers] PRIMARY KEY CLUSTERED 
(
	[StudentAnswerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAnswers] ON
INSERT [dbo].[StudentAnswers] ([StudentAnswerID], [StudentID], [SchoolYear], [AssessmentID], [QuestionPoolID], [SelectedAnswer], [LastUpdateUser], [LastUpdateDate]) VALUES (2, 13, N'2011-2012', 7, 293, N'No!!', N'admin', CAST(0xC7340B00 AS Date))
INSERT [dbo].[StudentAnswers] ([StudentAnswerID], [StudentID], [SchoolYear], [AssessmentID], [QuestionPoolID], [SelectedAnswer], [LastUpdateUser], [LastUpdateDate]) VALUES (3, 13, N'2011-2012', 11, 302, N'6', N'020013', CAST(0x00350B00 AS Date))
INSERT [dbo].[StudentAnswers] ([StudentAnswerID], [StudentID], [SchoolYear], [AssessmentID], [QuestionPoolID], [SelectedAnswer], [LastUpdateUser], [LastUpdateDate]) VALUES (4, 13, N'2011-2012', 11, 300, N'11', N'020013', CAST(0x00350B00 AS Date))
SET IDENTITY_INSERT [dbo].[StudentAnswers] OFF
/****** Object:  Table [dbo].[Student]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNumber] [varchar](10) NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[EmailAddress] [varchar](30) NOT NULL,
	[EmailVerified] [varchar](1) NOT NULL,
	[AdminVerified] [varchar](1) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[UserCreated] [varchar](50) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[LastUpdateUser] [varchar](50) NOT NULL,
	[LastUpdateDate] [date] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON
INSERT [dbo].[Student] ([StudentID], [StudentNumber], [Firstname], [Lastname], [Password], [EmailAddress], [EmailVerified], [AdminVerified], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (34, N'020001', N'China Nicole', N'Alterado', N'020001', N'jed@i3-biz.com', N'1', N'1', N'A', N'-', CAST(0xBC340B00 AS Date), N'admin', CAST(0xC0340B00 AS Date))
INSERT [dbo].[Student] ([StudentID], [StudentNumber], [Firstname], [Lastname], [Password], [EmailAddress], [EmailVerified], [AdminVerified], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (35, N'020002', N'Diane Danielle', N'Ang', N'020002', N'jez@yopmail.com', N'0', N'1', N'A', N'-', CAST(0xC0340B00 AS Date), N'admin', CAST(0xC0340B00 AS Date))
INSERT [dbo].[Student] ([StudentID], [StudentNumber], [Firstname], [Lastname], [Password], [EmailAddress], [EmailVerified], [AdminVerified], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (36, N'020013', N'Miguel Nicolo', N'Evangelista', N'1111', N'jed@yopmail.com', N'1', N'1', N'A', N'-', CAST(0xC2340B00 AS Date), N'admin', CAST(0xC2340B00 AS Date))
SET IDENTITY_INSERT [dbo].[Student] OFF
/****** Object:  Table [dbo].[Settings]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Days] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Settings] ([Days]) VALUES (14)
/****** Object:  Table [dbo].[Section]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Section](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[LevelID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[UserCreated] [varchar](30) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON
INSERT [dbo].[Section] ([SectionID], [LevelID], [UserID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (1, 1, 0, N'FAITH', N'A', N'admin', CAST(0x34340B00 AS Date), CAST(0x00009ED9008E45E0 AS DateTime), N'admin')
INSERT [dbo].[Section] ([SectionID], [LevelID], [UserID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (2, 1, 0, N'HOPE', N'A', N'admin', CAST(0x34340B00 AS Date), CAST(0x00009ED9008E6584 AS DateTime), N'admin')
INSERT [dbo].[Section] ([SectionID], [LevelID], [UserID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateDate], [LastUpdateUser]) VALUES (3, 1, 0, N'LOVE', N'A', N'admin', CAST(0x34340B00 AS Date), CAST(0x00009ED9008E6908 AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[Section] OFF
/****** Object:  Table [dbo].[AssessmentType]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssessmentType](
	[AssessmentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[UserCreated] [varchar](50) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[LastUpdateUser] [varchar](50) NOT NULL,
	[LastUpdateDate] [date] NOT NULL,
 CONSTRAINT [PK_AssessmentType] PRIMARY KEY CLUSTERED 
(
	[AssessmentTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentType] ON
INSERT [dbo].[AssessmentType] ([AssessmentTypeID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (4, N'Quiz', N'A', N'admin', CAST(0xBE340B00 AS Date), N'teacher', CAST(0xBE340B00 AS Date))
INSERT [dbo].[AssessmentType] ([AssessmentTypeID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (5, N'Seatwork', N'A', N'admin', CAST(0xBE340B00 AS Date), N'teacher', CAST(0xBE340B00 AS Date))
INSERT [dbo].[AssessmentType] ([AssessmentTypeID], [Description], [Status], [UserCreated], [DateCreated], [LastUpdateUser], [LastUpdateDate]) VALUES (6, N'Long Test', N'D', N'admin', CAST(0xBE340B00 AS Date), N'admin', CAST(0xBF340B00 AS Date))
SET IDENTITY_INSERT [dbo].[AssessmentType] OFF
/****** Object:  Table [dbo].[AssessmentFeedback]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AssessmentFeedback](
	[AssessmentID] [int] NOT NULL,
	[GradeBoundary] [varchar](50) NOT NULL,
	[Feedback] [varchar](max) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AssessmentFeedback] ([AssessmentID], [GradeBoundary], [Feedback]) VALUES (6, N'100', N':)')
INSERT [dbo].[AssessmentFeedback] ([AssessmentID], [GradeBoundary], [Feedback]) VALUES (6, N'0-99', N':(')
INSERT [dbo].[AssessmentFeedback] ([AssessmentID], [GradeBoundary], [Feedback]) VALUES (7, N'0', N'------ weezz')
/****** Object:  Table [dbo].[AssessmentDetails]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentDetails](
	[AssessmentID] [int] NOT NULL,
	[QuestionPoolID] [int] NOT NULL,
	[Points] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AssessmentDetails] ([AssessmentID], [QuestionPoolID], [Points]) VALUES (6, 291, 1)
INSERT [dbo].[AssessmentDetails] ([AssessmentID], [QuestionPoolID], [Points]) VALUES (6, 292, 1)
INSERT [dbo].[AssessmentDetails] ([AssessmentID], [QuestionPoolID], [Points]) VALUES (7, 293, 50)
/****** Object:  Table [dbo].[Assessment]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assessment](
	[AssessmentID] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentTypeID] [int] NOT NULL,
	[UserID] [int] NULL,
	[LevelID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Introduction] [varchar](max) NULL,
	[Schedule] [varchar](50) NULL,
	[ScheduleStatus] [varchar](50) NULL,
	[DateStart] [date] NULL,
	[DateEnd] [date] NULL,
	[TimeStart] [time](7) NULL,
	[TimeEnd] [time](7) NULL,
	[Quarter] [varchar](50) NULL,
	[RandomQuestion] [varchar](50) NULL,
	[RandomAnswer] [varchar](50) NULL,
	[MakeUp] [varchar](max) NULL,
	[NoMakeUp] [varchar](max) NULL,
	[Status] [varchar](50) NOT NULL,
	[UserCreated] [varchar](50) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[LastUpdateUser] [varchar](50) NOT NULL,
	[LastUpdateDate] [date] NOT NULL,
 CONSTRAINT [PK_Assessment] PRIMARY KEY CLUSTERED 
(
	[AssessmentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Assessment] ON
SET IDENTITY_INSERT [dbo].[Assessment] OFF
/****** Object:  Table [dbo].[Registration]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SchoolYear] [varchar](30) NOT NULL,
	[isOldStudent] [char](1) NOT NULL,
	[LevelID] [int] NULL,
	[SectionID] [int] NULL,
	[SummerWorkshopID] [varchar](50) NULL,
	[PaymentTermsID] [int] NULL,
	[Status] [varchar](1) NULL,
	[ReservationDate] [date] NULL,
	[RegistrationDate] [date] NULL,
	[SummerRegistrationDate] [date] NULL,
	[UserReserved] [varchar](30) NULL,
	[UserRegistered] [varchar](30) NULL,
	[UserSummerRegistered] [varchar](30) NULL,
	[ReservationPayment] [decimal](18, 2) NULL,
	[RegistrationPayment] [decimal](18, 2) NULL,
	[SummerRegistrationPayment] [decimal](18, 2) NULL,
	[TotalTuitionPayment] [decimal](18, 2) NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[LastUpdateUser] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Registration] OFF
/****** Object:  View [dbo].[QuestionPoolView]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QuestionPoolView]
AS
SELECT     dbo.QuestionPool.QuestionPoolID, dbo.QuestionPool.SubjectID, PaceRegistration.dbo.Subject.Description AS SubjectDescription, dbo.QuestionPool.LevelID, 
                      PaceRegistration.dbo.[Level].Description AS LevelDescription, dbo.QuestionPool.Question, dbo.QuestionPool.CorrectAnswer, dbo.QuestionPool.CorrectAnswerRemark, 
                      dbo.QuestionPool.Choice1, dbo.QuestionPool.Choice1Remark, dbo.QuestionPool.Choice2, dbo.QuestionPool.Choice2Remark, dbo.QuestionPool.Choice3, 
                      dbo.QuestionPool.Choice3Remark, dbo.QuestionPool.Choice4, dbo.QuestionPool.Choice4Remark, dbo.QuestionPool.Status, dbo.QuestionPool.UserCreated, 
                      dbo.QuestionPool.DateCreated, dbo.QuestionPool.LastUpdateUser, dbo.QuestionPool.LastUpdateDate, dbo.QuestionPool.Quarter, ISNULL(dbo.Image.FileName, '') 
                      AS FileName, ISNULL(dbo.Image.ImageID, 0) AS ImageID, ISNULL(dbo.QuestionPool.TopicID, 0) AS TopicID
FROM         dbo.QuestionPool INNER JOIN
                      PaceRegistration.dbo.Subject ON dbo.QuestionPool.SubjectID = PaceRegistration.dbo.Subject.SubjectID INNER JOIN
                      PaceRegistration.dbo.[Level] ON dbo.QuestionPool.LevelID = PaceRegistration.dbo.[Level].LevelID LEFT OUTER JOIN
                      dbo.Image ON dbo.QuestionPool.QuestionPoolID = dbo.Image.QuestionPoolID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "QuestionPool"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 200
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Subject (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 88
               Left = 528
               Bottom = 207
               Right = 695
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Level (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 273
               Bottom = 125
               Right = 464
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Image"
            Begin Extent = 
               Top = 0
               Left = 380
               Bottom = 99
               Right = 540
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QuestionPoolView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QuestionPoolView'
GO
/****** Object:  View [dbo].[RegistrationTermView]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RegistrationTermView]
AS
SELECT DISTINCT 
                      PaceRegistration.dbo.Registration.SchoolYear, PaceRegistration.dbo.Registration.LevelID, PaceRegistration.dbo.Registration.SectionID, 
                      PaceRegistration.dbo.Section.Description AS SectionDescription, PaceRegistration.dbo.[Level].Description AS LevelDescription, 
                      PaceRegistration.dbo.Subject.SubjectID, PaceRegistration.dbo.Subject.Description AS SubjectDescription
FROM         PaceRegistration.dbo.Registration INNER JOIN
                      PaceRegistration.dbo.Section ON PaceRegistration.dbo.Registration.SectionID = PaceRegistration.dbo.Section.SectionID INNER JOIN
                      PaceRegistration.dbo.[Level] ON PaceRegistration.dbo.Registration.LevelID = PaceRegistration.dbo.[Level].LevelID INNER JOIN
                      PaceRegistration.dbo.Subject ON PaceRegistration.dbo.[Level].LevelID = PaceRegistration.dbo.Subject.LevelID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[43] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Registration (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 265
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Section (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 303
               Bottom = 125
               Right = 470
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Level (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 245
               Right = 229
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Subject (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 44
               Left = 543
               Bottom = 270
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1950
         Alias = 2640
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RegistrationTermView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RegistrationTermView'
GO
/****** Object:  View [dbo].[AssessmentView]    Script Date: 01/12/2012 17:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[AssessmentView]
AS
SELECT     dbo.Assessment.AssessmentID, dbo.Assessment.AssessmentTypeID, dbo.AssessmentType.Description AS AssessmentTypeDescription, dbo.Assessment.UserID, 
                      PaceRegistration.dbo.[User].Firstname AS TeacherFirstname, PaceRegistration.dbo.[User].Lastname AS TeacherLastname, dbo.Assessment.LevelID, 
                      PaceRegistration.dbo.[Level].Description AS LevelDescription, dbo.Assessment.SubjectID, PaceRegistration.dbo.Subject.Description AS SubjectDescription, 
                      dbo.Assessment.Title, dbo.Assessment.Introduction, dbo.Assessment.DateStart, dbo.Assessment.DateEnd, dbo.Assessment.TimeStart, dbo.Assessment.TimeEnd, 
                      dbo.Assessment.Status, dbo.Assessment.UserCreated, dbo.Assessment.DateCreated, dbo.Assessment.LastUpdateUser, dbo.Assessment.LastUpdateDate, 
                      dbo.Assessment.Quarter, dbo.Assessment.RandomAnswer, dbo.Assessment.RandomQuestion, dbo.Assessment.Schedule, dbo.Assessment.ScheduleStatus, 
                      dbo.Assessment.MakeUp, dbo.Assessment.NoMakeUp
FROM         dbo.Assessment INNER JOIN
                      PaceRegistration.dbo.[User] ON dbo.Assessment.UserID = PaceRegistration.dbo.[User].UserID INNER JOIN
                      PaceRegistration.dbo.[Level] ON dbo.Assessment.LevelID = PaceRegistration.dbo.[Level].LevelID INNER JOIN
                      PaceRegistration.dbo.Subject ON dbo.Assessment.SubjectID = PaceRegistration.dbo.Subject.SubjectID INNER JOIN
                      dbo.AssessmentType ON dbo.Assessment.AssessmentTypeID = dbo.AssessmentType.AssessmentTypeID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[28] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 8
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Assessment"
            Begin Extent = 
               Top = 3
               Left = 0
               Bottom = 220
               Right = 238
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "User (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 6
               Left = 276
               Bottom = 125
               Right = 436
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Level (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 126
               Left = 276
               Bottom = 245
               Right = 467
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Subject (PaceRegistration.dbo)"
            Begin Extent = 
               Top = 15
               Left = 690
               Bottom = 212
               Right = 857
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AssessmentType"
            Begin Extent = 
               Top = 74
               Left = 521
               Bottom = 193
               Right = 702
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      PaneHidden = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3045
         Alias = 1905
         Table = 3165
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         Gro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AssessmentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'upBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AssessmentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'AssessmentView'
GO
/****** Object:  Default [DF_Registration_isOldStudent]    Script Date: 01/12/2012 17:34:54 ******/
ALTER TABLE [dbo].[Registration] ADD  CONSTRAINT [DF_Registration_isOldStudent]  DEFAULT ('N') FOR [isOldStudent]
GO
/****** Object:  Default [DF_Registration_SectionID]    Script Date: 01/12/2012 17:34:54 ******/
ALTER TABLE [dbo].[Registration] ADD  CONSTRAINT [DF_Registration_SectionID]  DEFAULT ((0)) FOR [SectionID]
GO
/****** Object:  Default [DF_Section_UserID]    Script Date: 01/12/2012 17:34:54 ******/
ALTER TABLE [dbo].[Section] ADD  CONSTRAINT [DF_Section_UserID]  DEFAULT ((0)) FOR [UserID]
GO
