* {padding:0; outline:0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

/*body {color:#000; background:#000}*/
/* Drop Menu Position */
.nav{width:747px; height:22px; position: absolute; top:119px; right:0px; }

/* Header Menu [No Submenu]*/
ul.menu {list-style:none; text-align:center; width:747px; margin:0 auto;}
ul.menu a {display:block; width:inherit; background:#2b401b; color:#fff; font:13px "Century Gothic"; text-decoration:none; text-align:center; line-height:22px;} 
ul.menu a:hover {text-decoration:none; background:#fff; color:#2b401b;}
ul.menu span {float:left; color:#7E7B00; text-decoration:none; width:80px; height:28px; padding-top:8px}

ul.menu li {position:relative; float:left; width:auto; z-index:1000}


ul.menu ul {display: none;background-position: 100% 0;position: absolute;left: 0;background: #fff url(../../images/vertical-dot.gif) repeat-y 100% 0;display: none;list-style: none;}
ul.menu ul li {float:none; border-top:1px solid #ccc;}
ul.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display: table-cell; background:#fff; height:22px; padding-top:0px; width: auto;}            
ul.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#3F5330; color:#fff;}
ul.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:22px; padding-top:5px}

ul.menu ul ul {left:120px; top:0}
ul.menu li.submenu {font-weight:bold;}
ul.menu li.noborder {border-top:none}

ul.menu li.menuhover a, li.menuhover li.menuhover a{color:#3F5330;  background:#fff; }
ul.menu li.menuhover span, li.menuhover li.menuhover span {color:#3F5330; background:#3F5330; }

/* */

/* ORIGINAL */

/*

* {margin:0; padding:0; outline:0}
body {font:11px Verdana,Arial; color:#000; background:#fff}
.nav {height:36px; background:#aaa; color:#fff; text-shadow:1px 1px #888; z-index:1000}
ul.menu a {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
ul.menu span {float:left; color:#eee; text-decoration:none; width:120px; height:28px; padding-top:8px}
ul.menu a:hover {color:#fff}
ul.menu {list-style:none; font:16px Arial,Verdana; text-align:center; width:600px; margin:0 auto}
ul.menu li {position:relative; float:left; width:120px; z-index:1000}
ul.menu ul {display:none; position:absolute; font:normal 13px Arial,Verdana; top:36px; left:0; background:#aaa; display:none; list-style:none}
ul.menu ul li {float:none; border-top:1px solid #ccc; width:120px}
ul.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {float:none; display:block; background:none; height:22px; padding-top:5px}
ul.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {background:#999; color:#fff}
ul.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {float:none; display:block; background:none; height:22px; padding-top:5px}
ul.menu ul ul {left:120px; top:0}
ul.menu li.submenu {font-weight:bold}
ul.menu li.noborder {border-top:none}
ul.menu li.menuhover a, li.menuhover li.menuhover a {color:#fff; background:#999}
ul.menu li.menuhover span, li.menuhover li.menuhover span {color:#fff; background:#999}
#info {width:180px; background:#eee}
#info li {width:160px; border-top:none; padding:8px 10px; color:#666; text-shadow:1px 1px #fff; text-align:left}


*/